*{
    margin: 0;
    padding: 0;
    color:white;
}
body{
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
   
}
a{
    text-decoration: none;
}
.page-container{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
section{
    height: 100vh;
    scroll-snap-align: start;
}

/* Styling the navbar*/
nav{
    width:100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    position: absolute;
}
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    width:50%;
    position: relative;
}
.nav-btn{
    font-size: 30px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    width:265px;
    transition: 0.5s all ease;
    position: relative;
}
.nav-btn h2 {
    font-size: 30px;
    font-weight: 400;
}
.nav-btn:hover{
    background-color: rgba(211, 211, 211, 0.315);
    cursor: pointer;
}
/*End of navbar styling*/
/*Styling landing page */
.landing-page{
    height:100vh;
    background-color: #2a2d43;
    position:relative;
    overflow: hidden;
    
}
.name-container{
    width:100%;
    display: flex;
    justify-content: center;
    height:90vh;
    
}
.text-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:70%;
    
}
.text-wrapper h1{
    font-size: 60px;
    font-weight: 600;
}
.text-wrapper p{
    font-weight: 300;
    font-size: 30px;
}
.bg-shape{
    width:132vw;
    height: 40vh;
    transform: rotate(45deg);
    transform: translateX(-10);
    animation: appear 1.5s ease;
    background-color: #7f2ccb;
    position: absolute;
    
}
.social-icons{
    position: relative;
}
.name-text{
    position: relative;
}
.about-text{
    height:40vh;
    background-color: cyan;
    position: relative;
}
/*End of styling landing page*/
/*styling about me page*/
.about-me{
    height: 100vh;
    background-color: #5386e4;
    display: flex;
    justify-content: center;
}
.about-wrapper{
    display: flex;
    height: 50vh;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    
}
.about-text-wrapper{
    display: flex;
    flex-direction: column;
}
.about-text-wrapper:nth-child(1){
    background-color: #414361;
}
/*End of styling about me page*/
/*Styling projects container*/
.projects{
    min-height: 100vh;
    background-color: #414361;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.projects h1{
    font-size: 48px;
}
.project-wrapper{
    width:90%;
    min-height:80vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.project-container{
    width:300px;
    height:40vh;
    background-color: #c3c3c3;
    margin:5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    color:black;
}
.project-container p{
    color:black;
}

/*End of styling projects container*/
footer{
    background-color: blue;
    height:10vh;
}
@keyframes appear{
    0%{
    opacity:0;
    transform: translate(-100%);
    }
    100%{
      opacity:1;    
      transform: translate(100%);
      transform: rotate(45deg);
    }
  }